<% provide(:title, 'About') %>
<div class="span9">
  <h2>关于我</h2>

    <p>后80年人，生于陕西,现于北京做 ruby 开发工作！</p>

    <h3>Around the web</h3>
    <ul>
        <li><%=link_to "博客","http://woji.herokuapp.com",:target=>"_blank" %></li>
        <li><%=link_to "Github","https://github.com/pobing",:target=>"_blank" %></li>
        <li><%=link_to "微博","http://weibo.com/jido",:target=>"_blank" %></li>
        <li><%=link_to "Twitter","https://twitter.com/igniteflow",:target=>"_blank" %></li>
        <li><%=mail_to "cn.jdong@gmail.com","Email"%></li>
        <li><%=link_to "简历",resume_path,:target=>"_blank" %></li>
    </ul>

    <!--<h3>About this site</h3>-->
    <!--<ul>-->
    <!--    <li>Built in <a href="https://www.djangoproject.com/" target="_blank">Django</a></li>-->
    <!--    <li>Served with <a href="http://nginx.org/en/" target="_blank">Nginx</a>/<a href="http://gunicorn.org/" target="_blank">Gunicorn</a></li>-->
    <!--    <li>Hosted on an Ubuntu Server 12.10 VM with <a href="https://www.digitalocean.com/" target="_blank" >Digital Ocean</a></li>-->
    <!--    <li>Deployed with <a href="http://fabfile.org" target="_blank" >Fabric</a></li>-->
    <!--    <li>Managed by <a href="http://supervisord.org/" target="_blank" >Supervisor</a></li>-->
    <!--    <li>Powered by <a href="http://images.nationalgeographic.com/wpf/media-live/photos/000/007/cache/spider-monkey_719_600x450.jpg"  target="_blank">spider monkeys</a></li>-->
    <!--</ul>-->
</div>
