<%= form_tag("/users/#{current_user.try(:id)}/update_avatar", :class => "form-horizontal",:multipart => true,:id=>"update_avatar_form") do -%>
<div class="control-group">
  <div class="controls">
  	<%=image_tag(current_user.normal_avatar,:id=>'img_normal') %>
	  <%=image_tag(current_user.thumb_avatar,:id=>'img_thumb') %>
	  <%=image_tag(current_user.small_avatar,:id=>'small_thumb') %>
  </div>
  <% unless current_user.avatar_url.nil?%>
	  <div class="controls"><%=link_to "remove avatar","/users/#{current_user.try(:id)}/remove_avatar",:confirm=>"Are you sure",method: :post%>  <%=link_to "download avatar","/users/#{current_user.try(:id)}/download_avatar"%>
	  </div>
  <%end%>

</div>
<div class="controls">
   <%=file_field_tag "avatar" %>
   <%=hidden_field_tag "avatar_cache" %>
  </div>
  <div class="controls"><%= submit_tag 'Upload',  :class => 'btn'%></div>
   
<% end -%>
<%= javascript_include_tag "user" %>  