<%= form_tag("/api/users/#{current_user.id}/update_pwd", :class => "form-horizontal",:id=>"update_pwd_form") do -%>
<div class="control-group">
  <%=label_tag 'old_password', nil, :class => 'control-label'%>
  <div class="controls">
   <%=password_field_tag 'old_password'%>
  </div>
</div>
<div class="control-group">
  <%=label_tag 'password', nil, :class => 'control-label'%>
  <div class="controls">
   <%=password_field_tag 'password'%>
  </div>
</div>
<div class="control-group">
  <%=label_tag 'password_confirmation', nil, :class => 'control-label'%>
  <div class="controls">
   <%=password_field_tag 'password_confirmation'%>
  </div>
</div>
  <div class="controls"><%= submit_tag 'Update Password',
  :class => 'btn',:id => "create_item_button", :onclick=>"javascript:update_pwd()" %></div>
<% end -%>
<script type="text/javascript">

 $(document).ready(function(){
   $('#update_pwd_form').submit(
      alert("aa");
       return false;
    );
//  function update_pwd(){    
//     var formParam = $("#update_pwd"); 
//      $('#create_item_button').click(function() {
//         $.ajax({    
//         type: formParam.attr('method'),        
//         url:formParam.attr('action'),    
//         data:formParam.serialize(),    
//         cache:false,    
//         dataType:'json',    
//         success:function(data){   
//           if (data.retCode == 1)
//            alert("update success"); 
//          return false;
//         }    
//      });  
//     });
    
//  } ;
 });

</script>