<!-- Button to trigger modal -->
<p><a href="#newUserModal" role="button" class="btn" data-toggle="modal">添加新用户</a></p>
<%=render 'manage/users/new'%>
<table class="table table-condensed">
  <tr>
    <th>login</th>
    <th>Nick name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Sex</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr id="<%= dom_id user %>">

    <td><span class="hidden id_<%=user.id%>"><%=user.id%></span><%= user.login %></td>
    <td><%= user.nick_name %></td>
    <td><%= user.email %></td>
    <td><%= user.phone %></td>
    <td><%= user.sex_name %></td>
    <td><%= link_to icon_opt('icon-pencil'), edit_user_path(user),{ :title => "编辑用户" } %></td>
    <td><%= link_to icon_opt('icon-lock'), edit_user_path(user),{ :title => "修改密码" } %></td>
    <td><%= link_to icon_opt('icon-trash'), user, :title => "删除用户",:class=>"user_del" %></td>
  </tr>
<% end %>
</table>
<%= javascript_include_tag "user" %>  