<% provide(:title, @user.name) %>
<div class="span8">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <aside class="span4">
      <section>
        <h3>
          <%= image_tag @user.thumb_avatar %>
          <%= @user.full_name %>
        </h3>
      </section>
    </aside>
    <div class="span8">
      <% if @user.posts.any? %>
          <%= render '/posts/posts' %>
      <% end %>
      <%= will_paginate @posts %>
    </div>
  </div>
</div>