<h1>Listing hs</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hs.each do |h| %>
  <tr>
    <td><%= h.name %></td>
    <td><%= link_to 'Show', h %></td>
    <td><%= link_to 'Edit', edit_h_path(h) %></td>
    <td><%= link_to 'Destroy', h, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New H', new_h_path %>
