<div class="span7 posts">
    <% @posts.each do |post|  %> 
 <div class="post">
  <h3><%=link_to post.title,post%></h3>
      <p>Posted on <%=link_to time_local(post.created_at),"/posts/date_posts?date=#{post.created_at}" %> | by <%=link_to post.author,post.user %>
      </p>
         <p><%=raw post.summary %></p>
         <% if post.summary.length > 200 %>
          <p><%= link_to "阅读全文",post %></p>
         <% end %>
        <p>
          Post in: <%=link_to post.category_name, posts_path(:type=>post.item_type) %> 
          <%unless post.tags.empty? %>
           | Tagged:<% post.tags.each do |t| %>
              <%=link_to t.name, "/posts/tag_posts?name=#{t.name}"%>
              <%end%>
          <%end%>
          <% if current_user?(post.user)%>
           | <%=link_to '编辑',edit_post_path(post)%>
           | <%= link_to '删除', post ,:class=>'post_del'%> 
          <%end%>
         | 评论 <%= post.comments_count || 0 %> 
        </p>
        <!-- <p>分享</p> -->
        <hr>

      </div>

    <%end%>
   
    <%if @posts.empty? %>
      <p>抱歉,该栏目下无结果, <%=link_to "See all", posts_url %></p>
    <%end%>
   
    
</div> <!-- .entry -->