<div>
    <% @posts.each do |post|  %> 
      <h3><%= link_to post.title,post %></h3>
      <!-- .title -->
      <!-- <p>分类:<%=post.type_s %>  by: pobing </p> -->
      <p>Posted on <%=link_to time_local(post.created_at),"/posts/date_posts?date=#{post.created_at}" %> by <%=link_to post.author,post.user %></p>
      <div class="POST">
         <%=raw markdown(post.content)%>
        <p>
          <!-- 发布于: <%=time_ago_in_words(post.created_at)%> -->类别:<%=link_to post.type_s, posts_path(:type=>post.item_type) %>
          <%unless post.tags.empty? %>
            标签: <%=post.tags.map(&:name).join(",")%>
          <%end%>
          <% if current_user?(post.user)%>
            <%= link_to '删除', post, confirm: 'Are you sure?', method: :delete %> 
          <%end%>
        </p>
      </div> 

    <%end%>
   
    <%if @posts.empty? %>
      <p>抱歉,该栏目下无结果, <%=link_to "See all", posts_url %></p>
    <%end%>
   
    
</div> <!-- .entry -->