<div>
    <% @posts.each do |post|  %> 
     <hr>
      <div class="title">
        <h3><%= link_to post.title,post %></h3>
      </div> <!-- .title -->
      <p>Posted on <%=link_to time_local(post.created_at),"/posts/date_posts?date=#{post.created_at}" %> by <%=link_to post.user.try(:name),post.user %></p>
      <div class="POST">
        <p><%=post.content%></p>
        <p>类别:<%=link_to post.type_s, posts_path(:type=>post.item_type) %>
          <%unless post.tags.empty? %>
            标签: <%=post.tags.map(&:name).join(",")%>
          <%end%>
          <% if current_user?(post.user)%>
            <%= link_to '删除', post, confirm: 'Are you sure?', method: :delete %>
          <%end%> 
        </p>
      </div> 
    <%end%>
    
    <%if @posts.empty? %>
      <p>抱歉,该栏目下无结果!</p>
    <%end%>
   
    
</div> <!-- .entry -->