<% provide(:title, '编辑博客') %>
<div class="span8">
  <%= form_for(@post,:html => { :class => "form-horizontal" }) do |f| %>
    <%= render 'shared/post_errors' %>
    <div class="control-group">
      <%=f.text_field :title,:placeholder=>"title", :class=>"input-xlarge" %>
    </div>
    <div class="control-group">
      <%= select(:post,:item_type,category_array, {:class =>"span3"})%>
    </div>
    <div class="control-group">
      <%#= f.ueditor_text :content , :width=>"680" %>
      <%= f.text_area :content , :class=>"post_content" %>
    </div>
    <div class="control-group">
      <input type="input" name="tags" class="input-xlarge"/>*多个标签以","隔开 
    </div>
    <div class="control-group">
      <%= f.submit "Post Ok", class: "btn btn-large" %>
    </div>
  <% end %>
</div>