<%= link_to 'Add New ', new_post_path %>
<% @post.each do |post|  %>
<p><h3><%= link_to post.title,post %></h3></p>
<strong><%=post.type %></strong>
<p><%=post.content%></p>
<%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
<%end%>