<% provide(:title, '创建新博客') %>
<div class="span8">
  <%= form_for(@post,:html => { :class => "form-horizontal" }) do |f| %>
    <%= render 'shared/post_errors' %>
    <div class="control-group">
      <%=f.text_field :title,:placeholder=>"博客标题", :class=>"input-xlarge" %> 
   </div>
  <div class="control-group">
    <%= select(:post,:item_type,category_array,{:prompt => '-请选择文章分类-'},{:class =>"span3"})%>
  </div>
  <div class="control-group">
     <%= f.ueditor_text :content , :width=>"680"%>
  </div>
    <div class="control-group">
    <input type="input" name="tags" placeholder="添加标签" class="input-xlarge" /> 多个标签以","隔开
  </div>
  <div class="control-group">
    <%= f.submit "发布", class: "btn btn-large" %>
  </div>
  <% end %>
</div>