<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this h from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
 
  <div>
    <%= f.label :item_type %>
    <div>
      日记: <%=f.radio_button :item_type ,1 %> 
      周记: <%=f.radio_button :item_type ,2 %>
      月记: <%=f.radio_button :item_type ,3 %>
      年记: <%=f.radio_button :item_type ,4 %>
      自传: <%=f.radio_button :item_type ,5 %>
    </div>
  </div>
  <div>
    <%= f.label :content %>
    <div >
      <%= f.text_area :content ,:cols=>"5", :rows => "5" %>
    </div>
  </div>
  <div >
  <div>
    Tag:</br> 
    <input type="text" name="tags"/>*多个标签以","隔开 
  </div>
    <%= f.submit "Create" ,:class=>"btn btn-primary"%>
  </div>
  
   </fieldset>
<% end %>
