<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this h from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
  <div>
    <%= f.label :title %><br />
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>
 
  <div>
    <%= f.label :item_type %><br />
    <div class="controls">
              <%= f.text_field :item_type %>
              <p class="help-block">Length 10 </p>
    </div>
  </div>


  <div>
    <%= f.label :content %><br />
    <div >
          <%= f.text_area :content ,:cols=>"1000", :rows => "20" %>
    </div>
  </div>
  <div >
    <%= f.submit "Create" %>
  </div>
   </fieldset>
<% end %>
