<% provide(:title, 'show posts') %>
<div class="span7">
  <header class="clearfix">
    <h3><%= @post.title %></h3>
  <p>Posted on <%=string_time(@post.created_at)%>   | By <%=link_to @post.author,@post.user %>
      </p>
	<%=raw @post.html %>
	<p> Post in: <%=link_to @post.type_s, posts_path(:type=>@post.item_type) %> 
          <%unless @post.tags.empty? %>
           | Tagged:<% @post.tags.each do |t| %>
              <%= link_to t.name, tag_path(t.name) %>
              <% end %>
          <%end%>
          <% if current_user?(@post.user)%>
           | <%=link_to '编辑',edit_post_path(@post)%>
           | <%= link_to '删除', @post, confirm: 'Are you sure?', method: :delete %> 
          <%end%>
	</p>
 <%= render 'shared/share_button'%></br>
    <p class="copr">
       本站文章除注明转载外，均为作者原创或编译 </br>
       欢迎任何形式的转载，但请务必注明出处，尊重他人劳动共创和谐社区 </br>
       转载请注明：文章转载自：<%=link_to site_name,root_url %> </br>
       原文链接地址：<%=link_to @post.title,request.url %>
    </p>
   
    <p>
    <% unless @post.previous_post.nil? %>
        上一篇: <%=link_to @post.previous_post.title, @post.previous_post %>
    <% end %></br>
    <% unless @post.next_post.nil? %>
        下一篇: <%=link_to @post.next_post.title, @post.next_post %>
    <%end%>
    </p>
    <% unless @post.similar_post.empty? %>
    <b>同类文章推荐</b>
      <ul>
      <% @post.similar_post.each do |p| %>
          <li><%=link_to p.title , p %> </li>
      <%end%>
      </ul>
    <%end%>
  <h3><%=@post.comments_count%> comments</h3>
     <%= render @post.comments %>   
  <h3>Add comment</h3>
  <%= render "comments/form" %>
</div>