<% provide(:title, 'show posts') %>
<div class="span7">
  <header class="clearfix">
    <h3><%= @post.title %></h3>
      <%= gravatar_for @post.user %> <span class="author"><%=link_to @post.author,@post.user %></span><br>Posted on <%=link_to time_local(@post.created_at),"/posts/date_posts?date=#{@post.created_at}" %>
  </header>
<!--   <ul class="thumbnails">
    <li class="span3">
    <a href="#" class="thumbnail">
    <img src="#" alt="">
    </a>
    </li>
    sss
    <br>
    ss
    </ul> -->
	<p><%=raw @post.html %></p>
	<p> Post in :<%=link_to @post.type_s, posts_path(:type=>@post.item_type) %> 
          <%unless @post.tags.empty? %>
           | Tagged:<% @post.tags.each do |t| %>
              <%=link_to t.name, "/posts/tag_posts?name=#{t.name}"%>
              <%end%>
          <%end%>
          <% if current_user?(@post.user)%>
           | <%=link_to '编辑',edit_post_path(@post)%>
           | <%= link_to '删除', @post, confirm: 'Are you sure?', method: :delete %> 
          <%end%>
	</p>
  
  <h3><%=@post.comments_count%> comments</h3>
     <%= render @post.comments %>   
  <h3>Add comment</h3>
  <%= render "comments/form" %>
</div>