<% provide(:title, 'show posts') %>
<div class="span7">
	<h3><%= @post.title %></h3>
	<p>
		Posted on <%=time_local(@post.created_at)%> 
		by <%=link_to @post.user.try(:name),@post.user %>
	</p>
	<p><%=raw markdown(@post.content)%></p>
	<p> 类别:<%=@post.type_s %>
	  <%unless @post.tags.empty? %>
	    标签: <%=@post.tags.map(&:name).join(",")%>
	  <%end%>
	  <% if current_user?(@post.user) %>
	    <%=link_to '编辑',edit_post_path(@post)%>
	    <%= link_to '删除', @post, confirm: 'Are you sure?', method: :delete %> 
	  <%end%>
	</p>
</div>