<p><h3><%= @post.title %></h3></p>
<strong>分类:<%=@post.type_s %></strong>
<p><%=@post.content%></p>
<%= link_to '删除',  @post, confirm: 'Are you sure?', method: :delete %>
<%= link_to '返回', posts_path %>