<!DOCTYPE html>
<html>
<head>
  <title>Woji</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
<div class="pull-right">
            <a title="Follow" target="_top" id="btn_follow_join" href="#"> Follow
            </a>
            <a title="Join Tumblr" target="_blank" id="btn_join" href="#">
                Login
            </a>
            <a title="Join Tumblr" target="_blank" id="btn_join" href="#">
                New
            </a>
</div>



<!-- <div id="container"> -->
  <%= render 'layouts/header' %>
<!--   <br class="clearfloat">
  <div id="menu">This is the Menu</div>
  <br class="clearfloat"> -->
  <div id="mainContent">
 <%= render 'layouts/sidebar' %>
    <div id="content">
      <%= yield %>
    </div>
  </div>
  <br class="clearfloat">

</div>
<%= render 'layouts/footer' %>

</body>
</html>
