<div class="span9">
<!-- 	<p class="pull-right"><a href="#top">Back to top</a></p> -->
	<!-- <div class="links">
	  <a onclick="pageTracker._link(this.href); return false;" href="http://daqinit.com">Blog</a>
	  <%#= link_to "About",   about_path %>
	  <%#= link_to "Contact", "http://weibo.com/jido" %>
	</div> -->
	<p>
		Woji © 2013 powered by <%=link_to "pobing","http://www.daqinit.com",:target => "_blank"%>. 
		Mail to me <%=mail_to "cn.jdong@gmail.com","cn.jdong@gmail.com"%>
	</p>
	<p>
	 Built With Bootstrap.Built with <%=link_to "Bootstrap","http://twitter.github.com/bootstrap/",:target => "_blank"%>. Icons from <%=link_to "Glyphicons","http://glyphicons.com/",:target => "_blank"%>.
		Web fonts from <%=link_to "Google","http://www.google.com/webfonts",:target => "_blank" %>.
	</p>
	<p>本站代码托管在 <%=link_to "github","https://github.com/pobing/woji",:target => "_blank"%> 上,欢迎交流学习.
	</p>
</div>