<div class="span9">
  <div class="top">
    <h3 class="muted"><%=link_to "我记-WoJi.com",root_path %></h3>
    <% if current_user %>
      <ul class="nav pull-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"
              href="#">
          <b class="caret"></b>
          <i class="icon-user"></i>
          <%= gravatar_for current_user,{size:20} %>
          <%=current_user.name%>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile",current_user %></li>
            <li><%= link_to "个人设置",edit_user_path(current_user) %></li>
            <% if current_user.is_admin? %>
            <li><%= link_to "管理", "/manage/index" %></li>
            <% end %>
            <li><a href="/signout" target="_blank">退出</a></li>
          </ul>
        </li>
      </ul>
    <% end %>
  </div>
  <ul class="nav nav-pills">
    <li class="active"><%=link_to "首页",root_path %></li>
    <% if current_user %>
      <li><%=link_to "说说",posts_path(:type=>0)%></li>
      <li><%=link_to "日记",posts_path(:type=>1)%></li>
      <li><%=link_to "工作",posts_path(:type=>6)%></li>
      <li><a href="http://www.flickr.com/photos/cn_dong/" target="_blank">图片</a></li>
      <li><a href="#">微博</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown"
              href="#"> 更多<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%=link_to "周记",posts_path(:type=>2)%></li>
          <li><%=link_to "月记",posts_path(:type=>3)%></li>
          <li><%=link_to "年记",posts_path(:type=>4)%></li>
          <li><%=link_to "自传",posts_path(:type=>5)%></li>
        </ul>
      </li>
    <% else %>
      <li><a href="#">关于</a></li>
      <li><a href="#">联系</a></li>
      <li><a href="/signin">登录</a></li>
      <li><a href="/signup">注册</a></li>
    <% end %>
  </ul>
</div>