<h4>About</h4>
<%=link_to (image_tag("/img/twitter.png")),"https://twitter.com/cn_dong",:target=>"_blank" %>
<%=link_to (image_tag("/img/facebook.png")),"http://www.facebook.com/cn.jdong",:target=>"_blank" %>
<%#=link_to (image_tag("/img/weibo.png")),"http://weibo.com/jido",:target=>"_blank" %>
<%=mail_to "cn.jdong@gmail.com",(image_tag("/img/gmail.png"))%>
<%#= auto_discovery_link_tag "Rss", "/posts.atom" %>
<%= link_to (image_tag("/img/rss.png")),"/posts.atom", :target=>"_blank"%>
<%#=content_for :head, auto_discovery_link_tag(:atom,posts_url(format:"atom"))%>
<h4>站内搜索</h4>
  <%= form_tag("/posts/search",:class=>"form-search", :method => "get") do %>
  <div class="input-append"><%= text_field_tag(:search,"",:class=>"span2 search-query") %>
  <%= submit_tag("搜索",:class=>"btn") %></div>
<% end %>

<h4>最新记录</h4>
<ul>
  <% recently_posts.each do |r| %>
    <li><%=link_to r.title.slice(0..30) , r,:title=>r.title %> </li>
  <%end%>
</ul>

<h4>Category</h4>
  <ul>
    <% categories.each do |c| %>
      <li><%=link_to c.name, category_path(c.name) %> (<%= c.posts_count %>)</li>
    <%end%>
  </ul>
<h4>Archives</h4>
<ul>
  <%archive_month.each do |m,p|%>
    <li><%=link_to m,"/posts/month?m=#{m}" %> (<%= p.count%>)</li>
  <%end%>
</ul>
<h4>Tags</h4>
  <div id="tag_cloud">
   <% tag_cloud get_tags, %w[s m l] do |tag, css_class| %>
     <%= link_to tag.name, tag_path(tag.name), class: css_class,:title=>"#{tag.taggings_count}" %>
   <% end %>
  </div>
<h4>Sites</h4>
  <ul>
  <% sites.each do |s| %>
      <li><%=link_to s.name.slice(0..30), s.url, :target => "_blank" ,:title=>s.name  %></li>
  <%end%>
  </ul>
<h4>文章统计</h4>
  <div>
    <p>总共: <%=get_counts[:all_count]%> 篇 </p>
    <p>说说: <%=get_counts[:tweet_count]%> 条 </p>
    <p>日记: <%=get_counts[:diary_count]%> 篇 </p>
  </div>

