<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta property="wb:webmaster" content="ff5b18a81e6f6c37" />
    <meta property="qc:admins" content="42370126772160527351006375" />
    <meta name="keywords" content="工作笔记,记录,软件开发,ruby" />
    <title>Woji</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%=content_for :head%>
  </head>
  <body>
    <div class="container-narrow">
      <%= render 'layouts/header'%> <!-- header -->
      <hr>
      <div class="row">
        <div class="span10">
          <div class="row">
            <div class="span8">
            <%= render 'layouts/msg'%>
            <%= render 'layouts/message'%>
            <p class="text-center"><img src="/img/loading.gif" style="display:none" id="loading" ></p>
              <%=yield%>
            </div>
            <div id="sidebar" class="span2">
            <%= render 'layouts/sidebar'%>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="footer">
      <%=render 'layouts/footer'%>
    </div>
    </div> <!-- /container -->
   <%= debug(params) if Rails.env.development? %>
   <script>
    $(function () {
      $.scrollUp();
    });
   </script>
  </body>
</html>
