<!DOCTYPE html>
<html>
<head>
  <title>Woji</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="pull-right">
       <!--      <a title="Follow" target="_top" id="btn_follow_join" href="#"> Follow
            </a> -->
            <a title="login" target="_blank" id="btn_join" href="#">
                登录
            </a>
            <a title="signup" target="_blank" id="btn_join" href="#">
                注册
            </a>
</div>
<div id="container">
  <!-- <div id="header">This is the Header</div> -->
    <%= render 'layouts/header' %>
  <!-- <br class="clearfloat"> -->
  <!-- <div id="menu">This is the Menu</div> -->
  <br class="clearfloat">
  <div id="mainContent">
   <%= render 'layouts/sidebar' %>
    <div id="content">
      <%= yield %>
    </div>
  </div>
  <br class="clearfloat">
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
