<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Woji</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div class="container-narrow">
      <%= render 'layouts/header'%> <!-- header -->
      <hr>
      <div class="row">
        <div class="span10">
          <div class="row">
            <div class="span8">
            <%= render 'layouts/msg'%>
            <%= render 'layouts/message'%>
            <%=yield%>
            </div>
            <div class="span2">
            <%= render 'layouts/sidebar'%>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="footer">
      <%=render 'layouts/footer'%>
    </div>
    </div> <!-- /container -->
   <%= debug(params) if Rails.env.development? %>
  </body>
</html>